

body{background-color: black;}
.nav-link{
    background-color: black;
}
.nav-link{color: white;}
.main-content-right{
    background-color: black;}
p{color: white;}
h1{color: white;}
h2{color: white;}